* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: #5D5D7D;
    font-weight: 400;
}

.container {
    height: 100vh;
    width: 100vw;
}

.sec-01 {
    display: inline-block;
    width: 70%;
    padding-left: 136px;
    margin-top: 20%;
}

.sec-02 {
    display: inline-block;
    background-color: #5d5d7d16;
    height: 100vh;
    width: 30%;
    position: absolute;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    opacity: 0.6;
    font-size: 28px;
    line-height: 48px;
    margin: 15px 0;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    box-shadow: 0px 10px 24px 0px #9499EA19;
    background: #9499EA;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

.img-container {
    position: relative;
    top: 25%;
    zoom: 1.5;
}

.img-01 {
    position: relative;
    top: 25%;
    right: 90px;
    cursor: pointer;
}

.menu {
    height: 41.12px;
    color: #5D5D7D;
    font-size: 28px;
    line-height: 41px;
    margin-top: 24px;
    word-spacing: 41px;
    text-align: center;
}

a:nth-child(2) {
    opacity: 0.5;
}

a:hover {
    opacity: 0.8;
    cursor: pointer;
}

a:active {
    opacity: 0.5;
}


@media (max-width: 768px) {

    .menu {
        display: none;
    }

    .container {
        display: inline;
    }

    .sec-01 {
        display: static;
        width: 100%;
        padding-left: 0;
    }

    .sec-02 {
        display: static;
        width: 100%;
        justify-items: center;
        position: static;
    }

    H1 {
        font-size: 36px;
        line-height: 52px;
        width: 100%;
        text-align: center;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        width: 296px;
        text-align: center;
        margin: 15px auto;
    }

    button {
        display: block;
        margin: 15px auto 50px;
    }

    .img-01 {
        display: block;
        position: static;
        margin: 100px auto;
        width: 271px;
        max-width: 100%;
        margin-top: -100px;
    }
}
